<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>673535061037-7v09gabmk0sd5p4n8a23oojkin73f7u5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.673535061037-7v09gabmk0sd5p4n8a23oojkin73f7u5</string>
	<key>API_KEY</key>
	<string>AIzaSyAxIHLcKP3GGY_Q9aTN-3T6MKuANqblBKg</string>
	<key>GCM_SENDER_ID</key>
	<string>673535061037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.williamx98.custom-iMessage-clone</string>
	<key>PROJECT_ID</key>
	<string>custommessenger-7bd91</string>
	<key>STORAGE_BUCKET</key>
	<string>custommessenger-7bd91.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:673535061037:ios:03538ee0e14595d7</string>
	<key>DATABASE_URL</key>
	<string>https://custommessenger-7bd91.firebaseio.com</string>
</dict>
</plist>